USE [master]
GO
/****** Object:  Database QLMYPHAM    ***/
CREATE DATABASE QLMYPHAM 
GO

USE QLMYPHAM 

ALTER DATABASE [QLMYPHAM ] SET COMPATIBILITY_LEVEL = 110
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLMYPHAM].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO



GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 10/14/2020 2:11:19 PM ******/

CREATE TABLE [dbo].[ChiTietDonHang](
	[MaDonHang] [int] NOT NULL,
	[Masp] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 0) NULL,
 CONSTRAINT [PK_ChiTietDonHang] PRIMARY KEY ([MaDonHang],[Masp] )
)
	


GO
/****** Object:  Table [dbo].[Thuonghieu]    Script Date: 10/14/2020 2:11:19 PM ******/
go

CREATE TABLE [dbo].[Thuonghieu](
	[Mathuonghieu] [int] IDENTITY(1,1) NOT NULL,
	[Tenthuonghieu] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChuDe] PRIMARY KEY  ([Mathuonghieu])
)

GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 10/14/2020 2:11:19 PM ******/
go
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[NgayGiao] [datetime] NULL,
	[NgayDat] [datetime] NULL,
	[DaThanhToan] [nvarchar](50) NULL,
	[TinhTrangGiaoHang] [int] NULL,
	[MaKH] [int] NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY ([MaDonHang] )
)
	


GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 10/14/2020 2:11:19 PM ******/
go
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [datetime] NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[DienThoai] [varchar](50) NULL,
	[TaiKhoan] [varchar](50) NULL,
	[MatKhau] [nvarchar](50) NULL,
	[Email] [varchar](50) NULL,
	[DiaChi] [nchar](10) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY ([MaKH]) 
)
	

CREATE TABLE [dbo].[NhaXuatXu](
	[Maxuatxu] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
 CONSTRAINT [PK_NhaXuatXu] PRIMARY KEY ([Maxuatxu] ASC)
)
GO

GO
/****** Object:  Table [dbo].[Sanpham]    Script Date: 10/14/2020 2:11:19 PM ******/

GO
CREATE TABLE [dbo].[Sanpham](
	[Masp] [int] IDENTITY(1,1) NOT NULL  PRIMARY KEY,
	[Tensp] [nvarchar](100) NULL,
	[GiaBan] [decimal](18, 0) NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayCapNhat] [datetime] NULL,
	[AnhBia] [nvarchar](max) NULL,
	[SoLuongTon] [int] NULL,
	[Mathuonghieu] [int] NULL,
	[Maxuatxu] [int] NULL,
	[Moi] [int] NULL,
  )
GO
SET IDENTITY_INSERT [dbo].[Thuonghieu] ON 
INSERT [dbo].[Thuonghieu] ([Mathuonghieu], [Tenthuonghieu]) VALUES (1, N'Loreal');
INSERT [dbo].[Thuonghieu] ([Mathuonghieu], [Tenthuonghieu]) VALUES (2, N'Clinique')
INSERT [dbo].[Thuonghieu] ([Mathuonghieu], [Tenthuonghieu]) VALUES (3, N'MAC')
SET IDENTITY_INSERT [dbo].[Thuonghieu] off  
go

go
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDonHang], [NgayGiao], [NgayDat], [DaThanhToan], [TinhTrangGiaoHang], [MaKH]) VALUES (1, NULL, CAST(0x0000A3E90018B26F AS DateTime), NULL, NULL, 5)
INSERT [dbo].[DonHang] ([MaDonHang], [NgayGiao], [NgayDat], [DaThanhToan], [TinhTrangGiaoHang], [MaKH]) VALUES (2, NULL, CAST(0x0000A3E90019D84A AS DateTime), NULL, NULL, 5)
INSERT [dbo].[DonHang] ([MaDonHang], [NgayGiao], [NgayDat], [DaThanhToan], [TinhTrangGiaoHang], [MaKH]) VALUES (3, NULL, CAST(0x0000A3E9001A4A22 AS DateTime), NULL, NULL, 5)
SET IDENTITY_INSERT [dbo].[DonHang] OFF

GO

go


SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [NgaySinh], [GioiTinh], [DienThoai], [TaiKhoan], [MatKhau], [Email], [DiaChi]) VALUES (2, N'a', CAST(0x0000836100000000 AS DateTime), N'332', N'3', N'321dsds', N'dd', N'dsa@dsad.com', N'sadsa     ')
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [NgaySinh], [GioiTinh], [DienThoai], [TaiKhoan], [MatKhau], [Email], [DiaChi]) VALUES (3, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[KhachHang] ([MaKH], [HoTen], [NgaySinh], [GioiTinh], [DienThoai], [TaiKhoan], [MatKhau], [Email], [DiaChi]) VALUES (4, N'a', CAST(0x000088C500000000 AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[KhachHang] OFF

go 
SET IDENTITY_INSERT [dbo].[NhaXuatXu] ON
INSERT [dbo].[NhaXuatXu] ([Maxuatxu], [Ten]) VALUES (1, N'Hàn Quốc ' )
INSERT [dbo].[NhaXuatXu] ([Maxuatxu], [Ten]) VALUES (2, N'Mỹ ')
INSERT [dbo].[NhaXuatXu] ([Maxuatxu], [Ten]) VALUES (3, N'Nhật Bản')
SET IDENTITY_INSERT [dbo].[NhaXuatXu] OFF
go


SET IDENTITY_INSERT [dbo].[Sanpham] ON 
INSERT [dbo].[Sanpham] ([Masp], [Tensp], [GiaBan], [MoTa], [NgayCapNhat], [AnhBia], [SoLuongTon], [Mathuonghieu], [Maxuatxu], [Moi]) VALUES (2, N'Muối biển tinh khiết 500g', CAST(75000 AS Decimal(18, 0)), N'Thành phần: 100% muối biển nguyên chất, giàu khoáng chất tự nhiên; không tẩy trắng, không tinh chế, không bổ sung iot.
Công dụng: Dùng để nấu ăn hoặc súc rửa đường tiêu hóa (salt water - cleanse) hoặc pha nước rửa rau củ,…
Hướng dẫn súc rửa đường tiêu hóa bằng nước muối biển: Súc rửa đường tiêu hóa bằng muối biển ', CAST(0x0000A02500000000 AS DateTime), N'000002.jpg', 50, 1, 2, 1)

SET IDENTITY_INSERT [dbo].[Sanpham] OFF

go

INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [Masp], [SoLuong], [DonGia]) VALUES (2, 1, 1, CAST(85000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [Masp], [SoLuong], [DonGia]) VALUES (2, 2, 2, CAST(75000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietDonHang] ([MaDonHang], [Masp], [SoLuong], [DonGia]) VALUES (2, 3, 1, CAST(55000 AS Decimal(18, 0)))

go


ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang] FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_Sanpham] FOREIGN KEY([Masp])
REFERENCES [dbo].[Sanpham] ([Masp])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_Sanpham]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_KhachHang]
GO

ALTER TABLE [dbo].[Sanpham]  WITH CHECK ADD  CONSTRAINT [FK_Sanpham_Thuonghieu] FOREIGN KEY([Mathuonghieu])
REFERENCES [dbo].[Thuonghieu] ([Mathuonghieu])
GO
ALTER TABLE [dbo].[Sanpham] CHECK CONSTRAINT [FK_Sanpham_Thuonghieu]
GO
ALTER TABLE [dbo].[Sanpham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_Nhaxuatxu] FOREIGN KEY([Maxuatxu])
REFERENCES [dbo].[NhaXuatXu] ([Maxuatxu])
GO
ALTER TABLE [dbo].[Sanpham] CHECK CONSTRAINT [FK_SanPham_Nhaxuatxu]
GO


UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 9'
where [Masp]=9;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 10'
where [Masp]=10;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 11'
where [Masp]=11;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 12'
where [Masp]=12;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 13'
where [Masp]=13;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 14'
where [Masp]=14;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 15'
where [Masp]=15;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 16'
where [Masp]=16;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 17'
where [Masp]=17;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 18'
where [Masp]=18;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 19'
where [Masp]=19;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 20'
where [Masp]=20;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 21'
where [Masp]=21;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 22'
where [Masp]=22;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 23'
where [Masp]=23;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 24'
where [Masp]=24;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 25'
where [Masp]=25;








UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 26'
where [Masp]=26;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 27'
where [Masp]=27;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 28'
where [Masp]=28;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 29'
where [Masp]=29;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 30'
where [Masp]=30;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 31'
where [Masp]=31;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 32'
where [Masp]=32;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 33'
where [Masp]=33;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 34'
where [Masp]=34;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 35'
where [Masp]=35;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 36'
where [Masp]=36;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 37'
where [Masp]=37;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 38'
where [Masp]=38;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 39'
where [Masp]=39;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 40'
where [Masp]=40;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 41'
where [Masp]=41;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 42'
where [Masp]=42;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 43'
where [Masp]=43;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 44'
where [Masp]=44;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 45'
where [Masp]=45;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 46'
where [Masp]=46;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 47'
where [Masp]=47;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 48'
where [Masp]=48;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 49'
where [Masp]=49;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 50'
where [Masp]=50;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 50'
where [Masp]=51;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 50'
where [Masp]=52;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 50'
where [Masp]=53;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 50'
where [Masp]=54;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 50'
where [Masp]=55;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 50'
where [Masp]=56;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 50'
where [Masp]=57;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 50'
where [Masp]=58;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 50'
where [Masp]=59;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 50'
where [Masp]=60;
go
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 50'
where [Masp]=61;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 50'
where [Masp]=62;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 50'
where [Masp]=63;
UPDATE [dbo].[Sanpham]
set [Tensp] =N'Mỹ Phẩm 50'
where [Masp]=64;
go 
UPDATE [dbo].[Sanpham]
set [MoTa] =NULL 
where [Masp] between 9 and 64 ;