
@{
    ViewBag.Title = "Tintuc";
    Layout = "~/Views/_LayoutQLMyPham.cshtml";
}
   
    <div class="container-fluid">
        <div class="row ml-5">
            <div style="background-image:url(../../Content/HinhAnh/00002.jpg);height:800px;width:100%" class="text-md-left">
                <h1>Kem khoáng Deadsea</h1>
                <h3>
                    Kem khoáng Deadsea Multi-Vitamin kem SPF-20 khoáng chất (Sức khỏe & Làm đẹp) <br />
                    bao gồm một phức hợp các vitamin C và kết hợp với dầu hoa anh thảo, cây hắc mai biển, trà xanh, lô hội <br />
                    cũng như các bộ lọc tia UVA và UVB.
                </h3>
                @Html.ActionLink("Xem ngay", "TrangChu", "TrangChu", new { @class = "btn btn-warning" })
            </div>
        </div>
        <div>
            <h1 class="text-center" style="border-bottom:solid;color:indianred">TIN TỨC</h1><br />
            <h3 class="text-center">Cập nhập những tin tức mới nhất</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/HinhAnh/00006.jpg" />
                <p class="text-center" style="color:#F9E79F">NGÀY 03 THÁNG 08 NĂM 2020</p>
                <p class="text-center">Mặt nạ dưỡng ẩm và làm sạch da mặt tốt nhất</p>
            </div>
            <div class="col-md-4">
                <img src="~/Content/HinhAnh/00005.jpg" />
                <p class="text-center" style="color:#F9E79F">NGÀY 03 THÁNG 08 NĂM 2020</p>
                <p class="text-center">Áp dụng trang điểm cho một cái nhìn tươi mát và đơn giản</p>
            </div>
            <div class="col-md-4">
                <img src="~/Content/HinhAnh/00004.jpg" />
                <p class="text-center" style="color:#F9E79F">NGÀY 03 THÁNG 08 NĂM 2020</p>
                <p class="text-center">Sản phẩm tuyệt vời mà bạn cần hôm nay</p>
            </div>
        </div>


    </div>
