@using DoanWebQLMYPHAM.Models;
@{
    ViewBag.Title = "HienThiChiTiet";
    Layout = "~/Views/_LayoutQLMyPham.cshtml";
    var dsth = (List<Sanpham>)ViewBag.dsThuonghieu;
    var kh = (KhachHang)ViewBag.k;
}
<link href="~/Content/bootstrap/css/Chitiet.css" rel="stylesheet" />

@model Sanpham
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1">
                            <img src="~/Content/HinhAnh/@Model.AnhBia" alt="sd" />
                        </div>
                        <div class="tab-pane" id="pic-2">
                            <img src="~/Content/HinhAnh/@Model.CHITIETSANPHAM.AnhBia1" alt="sd" />
                        </div>
                        <div class="tab-pane" id="pic-3">
                            <img src="~/Content/HinhAnh/@Model.CHITIETSANPHAM.AnhBia2" alt="sd" />
                        </div>
                        <div class="tab-pane" id="pic-4">
                            <img src="~/Content/HinhAnh/@Model.CHITIETSANPHAM.AnhBia3" alt="sd" />
                        </div>
                        <div class="tab-pane" id="pic-5">
                            <img src="~/Content/HinhAnh/@Model.AnhBia" alt="sd" />
                        </div>
                    </div>
                    <ul class="preview-thumbnail nav nav-tabs">
                        <li class="logo_menuchinh" style="float:left; padding-top:5px; padding-left:10px; color:blueviolet; margin-left:auto; margin-right:auto; text-align:center; line-height:40px; font-size:16px;font-weight:bold;font-family:Arial">MyPham.Com</li>
                        <li class="menu-icon"><span>Chi tiet cac san pham </span></li>
                        <li class="active">
                            <a data-target="#pic-1" data-toggle="tab"> <img src="~/Content/HinhAnh/@Model.AnhBia" alt="sd" /></a>
                        </li>
                        <li>
                            <a data-target="#pic-2" data-toggle="tab">   <img src="~/Content/HinhAnh/@Model.CHITIETSANPHAM.AnhBia1" alt="sd" /></a>
                        </li>
                        <li>
                            <a data-target="#pic-3" data-toggle="tab">   <img src="~/Content/HinhAnh/@Model.CHITIETSANPHAM.AnhBia2" alt="sd" /></a>
                        </li>
                        <li>
                            <a data-target="#pic-4" data-toggle="tab">   <img src="~/Content/HinhAnh/@Model.CHITIETSANPHAM.AnhBia3" alt="sd" /></a>
                        </li>
                    </ul>
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">@Model.Tensp</h3>
                    <div class="rating">
                        <div class="stars">
                            <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star checked"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span>
                        </div> <span class="review-no">123 đánh giá</span>
                    </div>
                    <p class="product-description"> @Model.MoTa </p>
                    <h4 class="price">Giá bán: @Model.GiaBan</h4>
                    <p class="vote">
                        <strong>91%</strong> of người mua hài lòng với sản phẩm này <strong>(87 bình chọn)</strong>
                    </p>
                    <h5 class="sizes">
                        Kích cỡ: <span class="size" data-toggle="tooltip" title="small">s</span> <span class="size" data-toggle="tooltip" title="medium">m</span> <span class="size" data-toggle="tooltip" title="large">l</span> <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
                    </h5>
                    <h5 class="colors">
                        Màu: <span class="color orange not-available" data-toggle="tooltip" title="Not In store"></span> <span class="color green"></span> <span class="color blue"></span>
                    </h5>
                    <div class="action">
                        <form action="~/Chitiet/GioHang" method="post">
                            <h3 class="text-center">Số Lượng </h3>
                            <input type="number" class="container-fluid" name="txtSL" min="1" value="1" />
                            <input type="text" class="text-hide" name="txtMsp" value="@Model.Masp" />
                            <span>
                                @if (kh == null)
                                {
                                    <button type="button" class="container-fluid bg-warning" onclick="mycheck()">Giỏ Hàng </button>
                                }
                                else if (kh != null)
                                {
                                    <button type="submit" class="container-fluid bg-danger">Giỏ Hàng </button>
                                }

                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <div class="text-xl-center">
                <h2>Các Sản Phẩm Liên Quan </h2>
            </div>
            <div class="for_slick_silder-v2 multiple-items-v2">
                @foreach (var it in dsth)
                {
                    <div class="items">
                        <img src="~/Content/HinhAnh/@it.AnhBia " />
                    </div>
                }
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">
        function mycheck() {
            alert("Hãy Đăng Nhập");
        }
    </script>

    <script src="js/jquery-1.11.1.min.js"></script>
