@using DoanWebQLMYPHAM.Models;
@{
    ViewBag.Title = "HienThiChiTiet";
    Layout = "~/Views/_LayoutQLMyPham.cshtml";
    var dsth =(List<Sanpham>)ViewBag.dsThuonghieu;
}

@model Sanpham


<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="for_slick_silder multiple-items">
            
                <div class="items">
                    <img src="~/Content/HinhAnh/@Model.AnhBia" alt="sd" />

                </div>
            </div>
            <p><b> Mô Tả: </b></p>
            <p>@Model.MoTa</p>
        </div>
        <div class="col-md-7">
            <h2> <b>@Model.Tensp </b>  </h2>
            <p class="font-weight-normal text-danger">Đơn Giá: @Model.GiaBan<span>đ</span></p>
            <p>Xuất xứ : @Model.NhaXuatXu.Ten </p>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="container-fluid">
            <div class="text-xl-center">
                <h2>Các Sản Phẩm Liên Quan </h2>
            </div>

            <div class="for_slick_silder-v2 multiple-items-v2">
                @foreach (var it in dsth)
                {
                    <div class="items">
                        <img src="~/Content/HinhAnh/@it.AnhBia "  />
                    </div>
                }
            </div>
        </div>
        
    </div>

       

 

</div>


