@using DoanWebQLMYPHAM.Models;
@{
    Layout = null;
}
<link href="~/Content/bootstrap/css/StyleLogin.css" rel="stylesheet" />

<!DOCTYPE html>

<div class="loginbox">
    <img src="~/Content/HinhAnh/pic1.png" class="avatar" />
    <h1>Create here</h1>
    <form action="~/TrangChu/AddAccount" method="post" >
        <p>Họ Tên </p>
        <input name="txtHoTen" type="text" id="txtHoTen" required />
        <p>Ngày Sinh </p>
        <input name="dtpNgaySinh" type="date" id="dtpNgaySinh" required/>
        <p>Giới Tính </p>
        <select name="GioiTinh">
            <option>Nam</option>
            <option>Nữ</option>
        </select>
        <p>Email</p>
        <input name="txtEmail" type="email" id="txtEmail" />
        <p>Điện Thoại </p>
        <input name="txtSDT" type="text" id="txtSDT" />
        <p>Địa Chỉ</p>
        <input name="txtDC" type="text" id="txtDC" />
        <p>Username</p>
        <input name="txtTaikhoan" type="text" id="txtTaikhoan" required/>

        <p>Password</p>
        <input name="txtPass" type="password" placeholder="EnterPassword" id="txtPass" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" title=" yêu cầu mật khẩu chứa ít nhất 1 kí tự viết hoa, 1 kí tự viết thường và 1 chữ số" required />
        <br />

        <button type="submit">Create Account </button>
        <br />

    </form>

</div>




