@using DoanWebQLMYPHAM.Models;
@{
    Layout = null;
}
<link href="~/Content/bootstrap/css/StyleLogin.css" rel="stylesheet" />

<!DOCTYPE html>

<div class="loginbox">
    <img src="~/Content/HinhAnh/pic1.png" class="avatar" />
    <h1>Create here</h1>
    <form action="~/TrangChu/AddAccount" method="post" onsubmit="return  FormRe()">
        <p>Họ Tên </p>
        <input name="txtHoTen" type="text" id="txtHoTen" />
        <p>Ngày Sinh </p>
        <input name="dtpNgaySinh" type="date" id="dtpNgaySinh" />
        <p>Giới Tính </p>
        <select name="GioiTinh">
            <option>Nam</option>
            <option>Nữ</option>
        </select>
        <p>Email</p>
        <input name="txtEmail" type="email" id="txtEmail" />
        <p>Điện Thoại </p>
        <input name="txtSDT" type="text" id="txtSDT" />
        <p>Địa Chỉ</p>
        <input name="txtDC" type="text" id="txtDC" />
        <p>Username</p>
        <input name="txtTaikhoan" type="text" id="txtTaikhoan" />

        <p>Password</p>
        <input name="txtPass" type="password" placeholder="EnterPassword" id="txtPass" />
        <br />

        <button type="submit">Create Account </button>
        <br />

    </form>

</div>

<script language="javascript">
    function FormRe() {
   
        var   acc = document.getElementById('txtTaikhoan').value;
        var pass = document.getElementById('txtPass').value;
        var email = document.getElementById('txtEmail').value;
        var sdt = document.getElementById('txtSDT').value;
        var dtpNgaySinh = document.getElementById('dtpNgaySinh').value;
        var txtDC = document.getElementById('txtDC').value;
        var hoten = document.getElementById('txtHoTen').value;
        // Bước 2: Kiểm tra dữ liệu hợp lệ hay không
        
        if (acc == '') {
            alert('Bạn chưa nhập tên đăng nhập');
        }
        else 
        if (pass == '') {
            alert('Bạn chưa nhập mật khẩu');
        }
        else if (email == '')
        {
            alert('Bạn chưa nhập email');
        }
        else if (sdt == '') {
            alert('Bạn chưa nhập số điẹn thoại');
        }
        else if (txtDC == '') {
            alert('Bạn chưa nhập địa chỉ ');
        }
        else if (hoten == '')
        {
            alert('Bạn chưa nhập tên ');
        }
        else  if (dtpNgaySinh == '')
        {
            alert('Bạn chưa nhập ngày sinh ');
        }
        else {
            alert('Dữ liệu hợp lệ, ta có thể chấp nhận submit form');
            return true;
        }
        return false;
    }
</script>


