@using DoanWebQLMYPHAM.Models;

@model List<Thuonghieu>
    <link href="~/Content/bootstrap/css/dsthuonghieu.css" rel="stylesheet" />

    <div id="container-left">
        <ul class="nav flex-column">

            @foreach (Thuonghieu th in Model)
            {
                <li class="nav-item">
                    @Html.ActionLink(@th.Tenthuonghieu, "HienThiTheoThuongHieu", "TrangChu", new { id = th.Mathuonghieu }, new { @class = "nav-link" ,style = "font-size:20px; font-weight:800; letter-spacing:1px; text-transform:uppercase;" })
                </li>
            }
        </ul>
    </div>